<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83505321613-ri49nrohum805gee2au82c1pskvnpv3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83505321613-ri49nrohum805gee2au82c1pskvnpv3f</string>
	<key>API_KEY</key>
	<string>AIzaSyDBahNakvTSuAjgOkkLq9_XWaxJUaNo0A0</string>
	<key>GCM_SENDER_ID</key>
	<string>83505321613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ronock.bic</string>
	<key>PROJECT_ID</key>
	<string>ronockandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>ronockandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83505321613:ios:15fc8503195aa80541b4c4</string>
	<key>DATABASE_URL</key>
	<string>https://ronockandroid.firebaseio.com</string>
</dict>
</plist>